In [46]:
import pandas as pd

data_index = pd.read_csv('data/index.csv').drop(['Unnamed: 0'], axis=1)
data_additional = pd.read_csv('data/additional.csv')
data_index['Date_reported'] = pd.to_datetime(data_index['Date_reported'], dayfirst=True)
data_additional['Date'] = pd.to_datetime(data_additional['Date'], dayfirst=True)

In [47]:
data_additional['fully_vaccinated_ratio'] = data_additional['fully_vaccinated_ratio'].interpolate()
data_additional['partially_vaccinated_ratio'] = data_additional['partially_vaccinated_ratio'].interpolate()

In [72]:
import datetime

delta = datetime.timedelta(days=6)

start_index = 10
end_index= 94
case_counts = 0

for index, row in data_additional.iterrows():
    if index >= start_index and index <= end_index:
        print(row['Date'].date())
        filtered_data_index = data_index[data_index['Date_reported'].dt.date <= row['Date'].date()]
        filtered_data_index = data_index[data_index['Date_reported'].dt.date >= row['Date'].date() - delta]
        case_counts = filtered_data_index['New_community_isolation'].sum()
        print(case_counts))
        case_counts += filtered_data_index['New_community_surveillance'].sum()
        print(case_counts)
        print("")

2021-04-28
(92, 8)
1956

2021-04-29
(91, 8)
1955

2021-04-30
(90, 8)
1953

2021-05-01
(89, 8)
1948

2021-05-02
(88, 8)
1948

2021-05-03
(87, 8)
1947

2021-05-04
(86, 8)
1946

2021-05-05
(85, 8)
1943

2021-05-06
(84, 8)
1927

2021-05-07
(83, 8)
1918

2021-05-08
(82, 8)
1911

2021-05-09
(81, 8)
1897

2021-05-10
(80, 8)
1887

2021-05-11
(79, 8)
1882

2021-05-12
(78, 8)
1881

2021-05-13
(77, 8)
1879

2021-05-14
(76, 8)
1875

2021-05-15
(75, 8)
1868

2021-05-16
(74, 8)
1858

2021-05-17
(73, 8)
1855

2021-05-18
(72, 8)
1842

2021-05-19
(71, 8)
1832

2021-05-20
(70, 8)
1808

2021-05-21
(69, 8)
1784

2021-05-22
(68, 8)
1765

2021-05-23
(67, 8)
1727

2021-05-24
(66, 8)
1706

2021-05-25
(65, 8)
1679

2021-05-26
(64, 8)
1645

2021-05-27
(63, 8)
1618

2021-05-28
(62, 8)
1588

2021-05-29
(61, 8)
1566

2021-05-30
(60, 8)
1545

2021-05-31
(59, 8)
1521

2021-06-01
(58, 8)
1503

2021-06-02
(57, 8)
1480

2021-06-03
(56, 8)
1466

2021-06-04
(55, 8)
1451

2021-06-05
(54, 8)
1428

2021-06-06
(53, 8)
1409

2021-06-07
(52, 8)
1393

2021-06-08
(51, 8)
1378

2021-06-09
(50, 8)
1354

2021-06-10
(49, 8)
1319

2021-06-11
(48, 8)
1312

2021-06-12
(47, 8)
1299

2021-06-13
(46, 8)
1293

2021-06-14
(45, 8)
1288

2021-06-15
(44, 8)
1285

2021-06-16
(43, 8)
1283

2021-06-17
(42, 8)
1279

2021-06-18
(41, 8)
1276

2021-06-19
(40, 8)
1267

2021-06-20
(39, 8)
1257

2021-06-21
(38, 8)
1239

2021-06-22
(37, 8)
1225

2021-06-23
(36, 8)
1206

2021-06-24
(35, 8)
1186

2021-06-25
(34, 8)
1172

2021-06-26
(33, 8)
1158

2021-06-27
(32, 8)
1149

2021-06-28
(31, 8)
1136

2021-06-29
(30, 8)
1121

2021-06-30
(29, 8)
1108

2021-07-01
(28, 8)
1094

2021-07-02
(27, 8)
1079

2021-07-03
(26, 8)
1066

2021-07-04
(25, 8)
1054

2021-07-05
(24, 8)
1050

2021-07-06
(23, 8)
1045

2021-07-07
(22, 8)
1040

2021-07-08
(21, 8)
1036

2021-07-09
(20, 8)
1033

2021-07-10
(19, 8)
1029

2021-07-11
(18, 8)
1028

2021-07-12
(17, 8)
1022

2021-07-13
(16, 8)
1021

2021-07-14
(15, 8)
1016

2021-07-15
(14, 8)
1013

2021-07-16
(13, 8)
1012

2021-07-17
(12, 8)
1012

2021-07-18
(11, 8)
1011

2021-07-19
(10, 8)
1003

2021-07-20
(9, 8)
984

2021-07-21
(8, 8)
928

In [69]:
import datetime

delta = datetime.timedelta(days=30)

data_index[data_index['Date_reported'].dt.date > row['Date'].date() - delta]

,Date_reported,New_cases,New_deaths,New_imported_surveillance,New_imported_isolation,New_community_surveillance,New_community_isolation,Dormitory_cases
564,2021-07-20,195,0,0,13,101,81,0
565,2021-07-21,181,0,0,2,99,80,0
566,2021-07-22,170,0,5,3,103,59,0

In [70]:
data_index

,Date_reported,New_cases,New_deaths,New_imported_surveillance,New_imported_isolation,New_community_surveillance,New_community_isolation,Dormitory_cases
0,2020-01-03,0,0,0,0,0,0,0
1,2020-01-04,0,0,0,0,0,0,0
2,2020-01-05,0,0,0,0,0,0,0
3,2020-01-06,0,0,0,0,0,0,0
4,2020-01-07,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
562,2021-07-18,92,0,0,4,58,29,1
563,2021-07-19,172,0,2,7,119,44,0
564,2021-07-20,195,0,0,13,101,81,0
565,2021-07-21,181,0,0,2,99,80,0
566,2021-07-22,170,0,5,3,103,59,0

In [73]:
filtered_data_index

,Date_reported,New_cases,New_deaths,New_imported_surveillance,New_imported_isolation,New_community_surveillance,New_community_isolation,Dormitory_cases
559,2021-07-15,48,0,1,5,25,17,0
560,2021-07-16,61,0,0,8,29,24,0
561,2021-07-17,68,0,0,8,27,33,0
562,2021-07-18,92,0,0,4,58,29,1
563,2021-07-19,172,0,2,7,119,44,0
564,2021-07-20,195,0,0,13,101,81,0
565,2021-07-21,181,0,0,2,99,80,0
566,2021-07-22,170,0,5,3,103,59,0